mixin createPostForm(userLoggedIn)
    .postFormContainer
        .userImageContainer 
            img(src=userLoggedIn.profilePic, alt="User's profile picture.")
        .textAreaContainer
            textArea#postTextArea(placeholder="Share a Creet")
            .buttonsContainer
                button#submitPostButton(disabled="") Creet

mixin createReplyModal(userLoggedIn)
    #replyModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='replyModelLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5#replyModalLabel.modal-title Reply
                    button.close(type='button', class='btn-close' data-bs-dismiss='modal', aria-label='Close')
                .modal-body
                    #originalPostContainer
                    .postFormContainer
                        .userImageContainer
                            img(src=userLoggedIn.profilePic, alt="User's profile picture")
                        .textAreaContainer
                            textArea#replyTextArea(placeholder="What's happening?")
                .modal-footer
                    button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Close
                    button#submitReplyButton.btn.btn-primary(type='button', disabled="") Reply
mixin createDeletePostModal()
    #deletePostModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='deletePostModelLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5#deletePostModalLabel.modal-title Delete Creet?
                    button.close(type='button', class='btn-close' data-bs-dismiss='modal', aria-label='Close')
                .modal-body
                    p Decreeting is permanent! You won't be able to undo this.
                .modal-footer
                    button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Close
                    button#deletePostButton.btn.btn-primary(type='button') Delete
mixin createImageUploadModal()
    #imageUploadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='imageUploadModelLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5#imageUploadModalLabel.modal-title Upload a new profile picture
                    button.close(type='button', class='btn-close' data-bs-dismiss='modal', aria-label='Close')
                .modal-body
                    input#filePhoto(type="file", name="filePhoto")
                    .imagePreviewContainer
                        img#imagePreview
                .modal-footer
                    button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Cancel
                    button#imageUploadButton.btn.btn-primary(type='button') Save
mixin createCoverPhotoUploadModal()
    #coverPhotoUploadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='coverPhotoUploadModelLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5#coverPhotoUploadModalLabel.modal-title Upload a new cover photo
                    button.close(type='button', class='btn-close' data-bs-dismiss='modal', aria-label='Close')
                .modal-body
                    input#coverPhoto(type="file", name="filePhoto")
                    .imagePreviewContainer
                        img#coverPreview
                .modal-footer
                    button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Cancel
                    button#coverPhotoButton.btn.btn-primary(type='button') Save

mixin createPostModals(userLoggedIn)
    +createReplyModal(userLoggedIn)
    +createDeletePostModal()
    +createImageUploadModal()
    +createCoverPhotoUploadModal()


// dynamically changes follow button text
mixin createFollowButton(user, isFollowing)
    - text = isFollowing ? 'Unfollow' : 'Follow'
    - buttonClass = isFollowing ? 'followButton following' : 'followButton'
    button(class=buttonClass, data-user=user._id) #{text}

mixin createTab(name, href, isSelected)
    - className = isSelected ? 'tab active' : 'tab'
    a(href=href, class=className)
        span #{name}